/*? Global */
body {
    background-color: #FCE7C8;
    font-family: "Lexend", sans-serif;
}

img{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    color: black;
}

/*? Header */
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: all 0.2s ease-in-out; 
}

.header-container.scrolled {
    background-color: #B1C29E;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    top: 20px;
    margin: 50px;
    padding: 15px 40px;
    transform: scale(1.05);
    opacity: 0.95;
}


.header-container img{
    width: 200px;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

.nav-bar a{
    font-size: 1.2rem;
    transition: .3s;
}

.nav-bar a:hover{
    transform: scale(1.1);
    color: #F0A04B;
    font-weight: bold;
}

/*? Main */
.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    gap: 30px;
}

/*? Form container */
.form-container {
    background: #B1C29E;
    display: flex;
    flex-direction: row;
    width: 80%;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.img-item{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-card{
    flex: 1.5;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

p {
    font-size: 16px;
    color: gray;
    margin-bottom: 20px;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input, .input-group select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.service-btn{
    margin-top: 30px;
    background-color: #F0A04B;
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    transition: 0.3s;
}

.service-btn:hover{
    background-color: #d88329;
    transform: scale(1.05);
}

/*? Table */
.service-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #B1C29E;
    margin-bottom: 40px;
}

.table-container{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
}
.table-container td {
    text-align: center;
    padding: 10px;
}

.table-container th {
    text-align: center;
    padding: 10px;
    background-color: #F0A04B;
    border-radius: 5px;
}

.editBtn{
    background-color: #F0A04B;
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    transition: 0.3s;
}

.editBtn:hover{
    background-color: #d88329;
    transform: scale(1.05);
}

.deleteBtn{
    background-color: #ee5641;
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    transition: 0.3s;
}

.deleteBtn:hover{
    background-color: #b83220;
    transform: scale(1.05);
}

.smallError, .smallPrice{
    display: none; 
    margin: 15px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #FF4C4C;
    width: 200px;
    border-radius: 10px;
    opacity: 0;
    transition: .4s opacity;
}

.smallError.show, .smallPrice.show {
    display: flex;
    transition: .4s opacity;
    opacity: 1;
}

